*{
    margin: 0px;
    padding: 0px; 
}
/*---Variables---*/
$fondoMenu:  #ffffff;
$fuentePrincipal:'Roboto Condensed', sans-serif;
$fuenteSecundaria:'Ubuntu', sans-serif;
$sobraCaja: 1px 1px 7px #4c4c4c8a;
$sombrawp:1px 1px 4px #212529;
$colorTexto:rgb(255, 255, 255);

/*---Redes Sociales---*/

.contenedorRedes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $colorTexto;
    margin-top: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #cacaca;
    background-color: $fondoMenu;
    
    ul {
        li:hover{
            transform: translate(-3px) scale(1.5);
            background-color: pink;
            color: white;
            cursor: pointer;
            a {
                background: none;
                    i {
                        color: white;
                    }
            }
        } 
        li{
            display: inline-block;
            margin: 0 5px;
            width: 50px;
            height: 50px;
            text-align: center;
    
            a{
                padding: 0 10px;
                background-color: $fondoMenu;
                color: rgb(255, 164, 228);
                line-height: 50px;
                font-size: 18px;
            }
        }
    }
    .bg-light {
        background-color: $fondoMenu !important;
    }
    .menuBurguer {
        width: 17px;
        display: none;
    }
    
    .menuBurguer img {
        width: auto;
    }
    .bordeBoton{
        padding-left: 10px;
    }
}    

/*---Logo---*/

.contenedorLogoInicio {
    display: flex;
    justify-content: center;
    
    img {
        width: 135px;
    }
}

/*---Menú---*/

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $fondoMenu;
    position: relative;
    border-bottom: 1px solid #dedddd;
    box-shadow: $sobraCaja;
    margin-bottom: 0px;

    ul {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;

        li ul{  
            display: none;
            position: absolute;
            min-width: 140px;
            justify-content: center;
            list-style: none;
        }
            :hover > ul {
                display: block;
            }   
    }
}

.botonMenu {
    display: block;
    margin-left: 20px;
    float: left;
    z-index: 1;

    a{
        font-family: $fuentePrincipal;
        color: rgba(247, 89, 163, 0.877);
        text-decoration: none;
        border-radius: 5px;
        padding: 10px;
    }
        a:hover{
            font-family: $fuentePrincipal;
            background-color: pink;
            color: white;
            text-decoration: none;
            box-shadow: 1px 1px 5px white;
        }  
}

li.botonMenu ul {
    margin-top: 0px;
    background-color: white;
    box-shadow: 1px 1px 5px #ccc9c9;

    li {
        width: 100%;
        position: relative;
        box-sizing:  border-box;
        padding: 10px;
    }
            li:hover {
            background: pink;
            color: white;
            }
                li a:hover {
                    box-shadow: none;
                    background-color: pink;
                    color: white;
                }
}

.btn-outline-success {
    color: #e694d8;
    border-color: #e694d8;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: pink;
    border-color: pink;
}
.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: pink;
    border-color: pink;
}
.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #ffc0cb87;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ebaae0;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #e694d8a2;
}

/*---Wathsapp---*/

.contenedorWhatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;

    :hover {
        transform: scale(1.2);
    }    
    p {
            font-family: 'Roboto Condensed', sans-serif;
            background-color: white;
            padding: 5px;
            color: #4D4D4D;
            font-size: 12px;
            border-radius: 5px;
            position: absolute;
            box-shadow:$sombrawp ;
            left: -190px;
            top: -65px;
            z-index: 1;
                p:before {
                    content: "";
                    width: 0px;
                    height: 0px;
                    border-left: 14px solid transparent;
                    border-right: 0px solid transparent;
                    border-top: 11px solid #ffffff;
                    position: absolute;
                    right: 0;
                    bottom: -5px;
                }
        }
}
.wathsapp {
    background-color: #128C7E;
    padding: 10px;
    border-radius: 50%;
    box-shadow: $sombrawp;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 0.3s ease;
    cursor: pointer;

    i {
        font-size: 25px;
        color: white;
    }
}

/*---Contenedor---*/

.contenedorGeneral{
    width: 1080px;
    display: block;
    margin: 0 auto;
}

/*---Banners---*/

.banners img{
    width: 100%;
    margin-top: 5px;
   /* height: 500px;*/
} 
.banners{
    display: grid;
    grid-template-areas: 
    "principal principal"
    "skincare nails"
    "maquillaje maquillaje "
    ;
    grid-template-columns: 1fr 1fr;
}
.bannerPrincipal{
    grid-area: principal;
}
.bSkincare{
    grid-area: skincare;
}
.bNails{
    grid-area: nails;
}
.bMaquillaje{
    grid-area: maquillaje;
}
.bMaquillaje img{
    /*width: 100%;*/
    height: auto;
    margin-top: 10px;
}
.w-100 {
    width: 100% !important;
    height: 600px;
}

/*---Nosotros---*/

.nosotros{
    background-image: url(../imagenes/bannerNosotros.jpg);
    background-size:cover;
    width: 100%;
    height: 500px;
    padding-top: 50px;

    h2{
        font-family: $fuentePrincipal;
        color: $colorTexto;
        text-align:start;
        margin-top: 35px;
        margin-left: 100px;
        animation-duration: 5s;
        animation-name: aparecer;
    }
    p{
        font-family: $fuentePrincipal;
        color: $colorTexto;
        font-weight: bold;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 500px;
        animation-duration: 5s;
        animation-name: aparecer;
    }
    @keyframes aparecer {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

/*---Productos---*/

section.listaProductos {
    width: 1080px;
    display: block;
    margin: 0 auto;
    font-family: $fuentePrincipal;
    color: rgba(247, 89, 163, 0.877);

    h1 {
        margin-top: 15px;
        text-align: center;
        font-size: 25px;
        margin-bottom: 10px;
    }
    .contenedorProductos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    margin-left: 5px;
    width: 100%;
    }
}
.producto {
    background-color: white;
    width: calc(25% - 20px);
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid #dadada;
    transition: all 0.3s ease;
    cursor: pointer;

    img{
        width: 100%;
        height: 200px;
    }
    h2{
        font-size: 17px;
        margin-top: 8px;
    }
    p{
        margin-top: 8px;
        border: 1px solid #dadada;
        font-weight: bold;
    }
    .badge-secondary {
        color: #fff;
        background-color: rgba(255, 192, 203, 0.87) !important; 
    }
}

.producto:hover {
    transform: scale(1.05);
    background-color: pink;
    color: white;
    box-shadow: 1px 5px 7px #cacaca;
}


/*---Contacto---*/

.contenedorContacto{
    background-image: url(../imagenes/bannerFondo.jpg);
    background-size:cover;
    width: 100%;
    display: block;
    float: left;
    padding: 40px;

    .contedorContactoInner {
        background: white;
        box-shadow: 1px 1px 5px #00000057;
        border-radius: 3px;
        float: left;
        width: 100%;
        padding: 20px;
    }

    .contactoSectionLeft {
        float: left;
        width: 50%;
    }

    .contactoSectionRight {
        float: left;
        width: 50%;
    }
    .contactoSectionRight article, .contactoSectionRight article label, .contactoSectionRight article input{
        float: left;
        width: 100%;
        text-align: left;
    }
    
    .contactoSectionRight form {
        width: 100%;
    }
}

.contenedorContacto h2 {
    font-family: $fuentePrincipal;
    font-weight: bold;
    color: rgba(247, 89, 163, 0.877);
    margin-top: 50px;
    text-align: center;
    animation-duration: 5s;
    animation-name: aparecer;
}
.contenedorContacto p{
    font-family: $fuentePrincipal;
    font-weight: bold;
    color: rgba(247, 89, 163, 0.877);
    margin-top: 30px;
    margin-left:50px;
    margin-bottom: 10px;
    animation-duration: 5s;
    animation-name: aparecer;
}
.contactoRedes{ 
    
        ul li{
            display: inline-block;
            margin-top: 50px;
            margin-left: 80px;
            width: 50px;
            height: 50px;
            
            a{
                padding: 0 10px;
                color: rgb(255, 164, 228);
                line-height: 30px;
                font-size: 18px;
            }
        }  
}

.contactoSectionLeft section.contactoRedes ul {
    display: flex;
    flex-direction: column;

    li {
        margin-left: 0px;
        display: flex;
        margin-top: 0px;
        width: 100%;
        align-items: center;

        p {
        margin-top: 0;
        margin-left: 10px;
        margin-bottom: 0;
        }
    }
}


.formulario{
 
    h2{
        font-family: $fuentePrincipal;
        color: rgba(247, 89, 163, 0.877);
        text-align: center;
        margin-bottom: 50px;
        animation-duration: 5s;
        animation-name: aparecer;
    }
    form{
        
        font-family: $fuentePrincipal;
        color: rgb(226, 43, 144); 
        text-align: end;
        margin-right: 400px;
        margin-bottom: 50px;
        animation-duration: 5s;
        animation-name: aparecer;

        .btn.btn-primary {
            background: #ef8bc4;
            border-color: #e8a7dd;
        }
        .btn-primary:hover {
            color: #fff;
            background-color: #ef8bc4 !important;
            border-color: #ef8bc4 !important;
        }
        
        
    }
}    



/*---Preguntas Frecuentes---*/

.contenedorPreguntas{
    background: white;
    box-shadow: 1px 1px 5px #00000057;
    border-radius: 3px;
    float: left;
    width: 100%;
    padding: 20px;
}
.preguntasFrecuentes{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background-image: url(../imagenes/bannerFondo.jpg);
    background-size:cover;
    width: 100%;
    padding-top: 50px;
    margin-right: 500px;
    min-height: calc(100vh - 241px);

        h2{
            font-family: $fuentePrincipal;
            color: rgb(172, 113, 145);
            font-style: bold;
            margin-bottom: 10px;
            font-size: 25px;
            text-align: center;
            animation-duration: 5s;
            animation-name: aparecer;
        }        
            h3{
                font-family: $fuentePrincipal;
                font-style: bold;
                color: rgba(194, 38, 124, 0.815);
                display: flex;
                font-size: 15px;
                font-weight: bold;
                margin-top: 10px;
                animation-duration: 5s;
                animation-name: aparecer;
            }
                p {
                    font-family: $fuentePrincipal;
                    color: rgb(172, 113, 145);
                    display: flex;
                    font-size: 15px;
                    font-weight: bold;
                    margin-top: 10px;
                    animation-duration: 5s;
                    animation-name: aparecer;
                }
}

/*---Copyright---*/

.copy p{
    font-family: $fuentePrincipal;
    background-color: rgba(255, 192, 203, 0.87);
    display: flex;
    justify-content: center;
    color: white;
    padding: 5px;
    margin-bottom: 0px;
}

/*---Body---*/

.body {
    background-color: #eeeeee;
}

/*---Tablet---*/

@media(max-width: 768px){

    /*--- Redes ---*/

    .contenedorRedes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #cacaca;
    
        nav {
        /* width: 100%;*/
        display: flex;
        justify-content: flex-start;
        }

        form input {
            width: 80%;
        }

        div {
            display: flex;
            justify-content: center;

            ul {
            margin-bottom: 0px;
            }
        }
    }

    button.btn.btn-outline-success.my-2.my-sm-0.bordeBoton {
        margin-left: 5px;
        padding-left: 10px;
    }

        /*--- Menú---*/

    .botonMenu a {
        font-size: 15px;
        font-weight: bold;
        margin-top: 10px;
    }
    .menu ul {
        width: 100%;
        box-sizing: border-box;
    }    

    /*---ContenedorGeneral---*/

    .contenedorGeneral {
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    /*--- Productos ---*/
    section.listaProductos {
        width: 100%;
    }
    section.listaProductos .producto {
        width: calc(50% - 20px);
    }
    
/*---Nosotros---*/

    .nosotros p{
        font-family: "Roboto Condensed", sans-serif;
        color: white;
        font-weight: bold;
        margin-top: 0px; 
        margin-left: 0px; 
        margin-right: 0px; 
        animation-duration: 5s;
        animation-name: aparecer;
        padding: 25px;
        text-align: center;
        margin-bottom: 29px;
    }

/*---Contacto---*/  

.contactoSectionLeft {
    float: left;
    width: 50%;
}

.contactoSectionRight {
    float: left;
    width: 50%;
}

.contactoSectionRight form {
    width: 100%;
}
    
    /*--- CopyRight---*/
    .copy {
        text-align: center;
        width: 100%;
    }
}

/*---Smartphone---*/

@media(max-width: 480px) {

/*---MenuBurguer---*/

    ul#hiddenMenu.open {
        left: 0;
    }
    
    ul#hiddenMenu {
        z-index: 1;
        display: block;
        position: absolute;
        background: white;
        left: -100%;
        transition: all 0.3s ease;
        width: 50%;
        height: 100vh;
        box-shadow: 9px 23px 9px #0000000f;
        
    }

    ul#hiddenMenu li {
        width: 100%;
        margin-left: 0px;
        /* height: 25%; */
    }
    
    ul#hiddenMenu li a {
        font-size: 16px;
        padding: 12px;
        float: left;
        border-bottom: 1px solid #ffa6e5;
        width: 100%;
        border-radius: 0px;
    }

    .menuBurguer {
        display: block !important;
        float: left;
        
    }
    .contenedorRedes .menuBurguer {
        width: 17px;
        display: none;
        margin-top: 22px;
        margin-left: 10px;
        margin-right: 18px;
    }

    /*---banner---*/

    .carousel-inner img {
        height: auto;
    }

    /*--- Redes ---*/

    .contenedorRedes nav {
        display: flex;
        justify-content: center;
        width: calc(100% - 45px);
        margin-right: 0px;
        padding-left: 0px;
    }
    .contenedorRedes {
        display: block;
    }
    .contenedorRedes form input {
        width: 80%;
    }
    .contenedorRedes div {
        display: flex;
        justify-content: center;
    }
    .contenedorRedes div ul {
        margin-bottom: 0px;
    }

        /*--- Menú---*/
    .botonMenu a {
        font-size: 10px;
    }
    .menu ul {
        width: 100%;
        box-sizing: border-box;
    }    

    /*---ContenedorGeneral---*/

    .contenedorGeneral {
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    /*---Nosotros---*/
        .nosotros p{
            font-family: "Roboto Condensed", sans-serif;
            color: white;
            font-weight: bold;
            margin-top: 0px; 
            margin-left: 0px; 
            margin-right: 0px; 
            animation-duration: 5s;
            animation-name: aparecer;
            padding: 25px;
            text-align: center;
            margin-bottom: 29px;
        }
    
    /*--- Productos ---*/
    section.listaProductos {
        width: 100%;
        
        .producto {
        width: 100%;
        margin-left: 0px;
        }
        .contenedorProductos {
        display: block;
        padding: 5px 25px;
        margin-left: 0px; 
        width: 100%;
        }
    }

    /*---Contacto---*/

    .contenedorContacto .contactoSectionLeft {
        float: left;
        width: 100%;
    }
    .contenedorContacto .contactoSectionRight {
        float: left;
        width: 100%;
    }

    /*--- CopyRight---*/
    .copy {
        text-align: center;
        width: 100%;
    }

    .contenedorRedes > nav form {
        display: flex;
        width: 100%;
    }
    
    .contenedorRedes > nav form input {
        float: left;
        width: calc(80% - 10px);
    }
    
    .contenedorRedes > nav button {
        float: left;
        width: 20%;
    }
    
    .contenedorRedes > nav a {
        display: none;
    }
    
    .contenedorRedes {
        padding-left: 0px;
        /* margin-top: 0px; */
    }
    
    .contenedorRedes > nav form button {
        margin-left: 5px;
    }
}